body{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
        
}

header{
    background-color: blanchedalmond;
}

h1{
    font-size: 50px;
    color: blue;
    text-align: center
    
}

